
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: ""
  creationTimestamp: null
spec:
  group: ""
  names:
    kind: ""
    plural: ""
  scope: ""
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
