
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: ""
  creationTimestamp: null
  name: logcollectionrules.logCollector.harmonycloud.cn
spec:
  group: logCollector.harmonycloud.cn
  names:
    kind: LogCollectionRule
    listKind: LogCollectionRuleList
    plural: logcollectionrules
    singular: logcollectionrule
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: LogCollectionRule represents the rule to collect log
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: LogCollectionRuleSpec represents the expectation of LogCollectionRule
          properties:
            collectors:
              items:
                properties:
                  rules:
                    items:
                      properties:
                        containers:
                          items:
                            type: string
                          type: array
                        elasticsearch:
                          properties:
                            index:
                              type: string
                          type: object
                        excludeFiles:
                          items:
                            type: string
                          type: array
                        kafka:
                          properties:
                            topic:
                              type: string
                          type: object
                        path:
                          items:
                            type: string
                          type: array
                        tags:
                          additionalProperties:
                            type: string
                          type: object
                      required:
                      - path
                      type: object
                    type: array
                  selector:
                    additionalProperties:
                      type: string
                    type: object
                required:
                - rules
                - selector
                type: object
              type: array
          required:
          - collectors
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
